# Ignore CMake build directories and caches
build/
CMakeFiles/
CMakeCache.txt
CMakeConfigureLog.yaml
cmake_install.cmake
Makefile
install_manifest.txt

# Ignore compiled static/shared binaries
*.a
*.so
*.o
*.d
a.out

# Ignore language server diagnostic and build setup caches
.cache/
compile_commands.json
